body {
    margin : 0;
    padding : 0;
    font-family : 'Arial'; 
}

/* */
/* Header */
/* */

header {
    background-color : white;
    color : black;
    padding : 10px;
}

.header-info {
    width : 70%;
    margin : 0 auto;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.header-info h1 {
    float : left;
    margin : 0;
    font-size : 25px;
}

/* Link */

a {
    text-decoration : none;
}

a:visited {
    color : #0084ff;
}

/* Button */

.btn {
    display : inline-block;
    padding : 10px 20px;
    text-align : center;
    text-decoration : none;
    color : white;
    font-weight : bold;
    font-size : 15px;
    background-color : #0084ff;
    cursor : pointer;
    border-radius : 10px;
    margin : 5px;
}

.authentification {
    float : right;
}

/* */
/* Navbar */
/* */

.navbar {
    width : 70%;
    margin : 0 auto;
    padding : 10px;
}

.navbar ul {
    list-style : none;
    margin : 0;
    padding : 0;
}

.navbar li {
    display : inline;
    margin-right : 20px;
}

.navbar a {
    text-decoration : none;
    color : black;
    font-size : 20px;
}

.navbar a:hover {
    color : #0084ff;
}

/* */
/* Container - Book Flights */
/* */ 

#booking-section {
    background: url('assets/voyage.jpg') center/cover no-repeat;
    padding-top : 100px;
    padding-bottom: 200px;
    text-align: center;
    color: #333;
}

#booking-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#booking-form label,
#booking-form select,
#booking-form input,
#booking-form button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

#booking-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

#booking-form select,
#booking-form input {
    padding: 10px;
    box-sizing: border-box;
}

#booking-form button {
    background-color: #0084ff;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#booking-form button:hover {
    background-color: #0065cc; /* Darker shade on hover */
}

/* */
/* Footer */
/* */

footer {
    background-color: #888888;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align : center;
    font-size : 12px;
}