#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

header .navbar {
  background-color: #151515 !important;
}

nav .navbar-nav .nav-link {
  color: #ccc;
  font-size: 19px;
}

nav .navbar-nav .nav-link:hover,
nav .navbar-nav .nav-link.active {
  color: white;
}

nav .language-button {
  width: 40px;
  height: 30px;
  background-size: cover;
  background-position: center;
  border: none;
  padding: 0;
}

nav .btn.dropdown-toggle {
  box-shadow: none;
  outline: none;
  background-color: transparent !important;
  border-color: transparent !important;
}
