/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
@media (max-width: 375px) {
    .navbar .nav-item {
      border-bottom: 1px solid black;
      margin-bottom: 5px;
      padding-bottom: 5px;
    }
  }

/*--------------------------------------------------------------
# Section General
--------------------------------------------------------------*/
section {
    padding: 80px 0px;
    overflow: hidden;
}

.section-title {
    padding-bottom: 15px;
}

.section-title h2 {
    font-size: 25px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #007e1b;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: black;
    margin: 8px 10px;
}

@media (max-width: 375px) {
    .section-title h2 {
        font-size: 21px;
    }
    
    .section-title h2::after {
        margin: 6px 10px;
    }
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.stars,
.empty-stars {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 5px; 
}

.stars {
  color: #ffd700;
}

.empty-stars {
  color: #d3d3d3;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #151515;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #151515;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}





#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: rgb(0, 191, 255);
  color: #151515;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: rgb(0, 191, 255);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: rgb(0, 191, 255);
}