body {
  margin: 0; /* Ensures there's no extra space around the body of the page */
  -webkit-font-smoothing: antialiased; /* Smoother font rendering in WebKit browsers (like Chrome and Safari) */
  -moz-osx-font-smoothing: grayscale; /* Grayscale (uses shades of gray to smooth the edges) font smoothing in Firefox on macOS*/
  font-family: "Poppins", sans-serif;
}

/*==================================================
# SECTION
==================================================*/
section {
  padding: 30px 0px;
  overflow: hidden; /* Prevent child elements from expanding over the boundaries of the section*/
}

@media (max-width: 375px) {
  section {
    padding: 60px 0px;
  }
}

.section-title { 
  padding-bottom: 15px;
}

.section-title h2 {
  font-size: 27px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
}

/* h2 line pseudo-element */
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: black;
  margin: 8px 10px;
}
